<%= link_to "sprouter.conf", "sprouter.conf" %>

<h3><%= @host.ip %></h3>
<p>Your computer's IP address is <%= @host.ip %>. Its connection is <strong><%= @host.connection_mode %></strong>.</p>

<%= form_tag "connection_mode", :method => :put do %>
  <h4>Change your connection</h4>
  <div>
    <div class="btn-group" data-toggle="buttons">
      <% [ ConnectionMode::Normal, ConnectionMode::Preferred, ConnectionMode::Turbo ].each do |mode| %>
        <label class="btn btn-primary">
          <%= radio_button_tag :requested_mode, mode::NAME, false, :class => "js-connection-mode" %>
          <%= mode::NAME %>
        </label>
      <% end %>
    </div>
    <div class="js-until-options">
      for
      <div class="btn-group" data-toggle="buttons">
        <% [
          ["1h", "an hour"],
          ["4h", "4 hours"],
          ["8h", "8 hours"],
          ["1d", "a day"],
          ["forever", "forever"],
        ].each do |duration, label| %>
          <label class="btn btn-primary">
            <%= radio_button_tag :duration, duration, false, :class => "js-until" %>
            <%= label %>
          </label>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <input type="submit" value="make it so" class="btn btn-success js-routing-req-submit" disabled>
  </div>
<% end %>
